<h2><%= I18n.t("devise.headers.admin_sign_up") %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label I18n.t("devise.email") %>
  <%= f.email_field :email %>

  <%= f.label I18n.t("devise.password") %>
  <%= f.password_field :password %>

  <%= f.label I18n.t("devise.password_confirmation") %>
  <%= f.password_field :password_confirmation %>

  <div><%= f.submit I18n.t("devise.buttons.sign_up"), :class => "btn" %></div>
<% end %>

<%= render "links" %>
