<div id="new-format-form" class="section">
<h2><%= I18n.t("sb.headers.new_format") %></h2>
<%= simple_form_for(@format) do |f| %>
	<%= f.input :name, :label => I18n.t("sb.forms.labels.format_name") %>
	<%= f.submit I18n.t("sb.forms.buttons.create_format"), {
		:class => "btn btn-primary"
	}%>
<% end %>
</div>
<div id="update-format-form" class="section border">
<h2><%= I18n.t("sb.headers.update_format") %></h2>
<%= form_tag(format_path(1), :method => :put) do |f| %>
	<div>
		<%= label_tag "format-id-update", I18n.t("sb.forms.labels.format_select_format") %>
		<%= select(:format, :id, Format.all.collect {|fm| [fm.name,fm.id]}, 
			{:include_blank => I18n.t("sb.forms.select.blank_option")},
			{:id => "format-id-update"})
			%>
		<label for="name"><%= I18n.t("sb.forms.labels.format_update_name") %></label>
		<%= text_field :format, :name %>
	</div>
	<%= submit_tag I18n.t("sb.forms.buttons.update_format"), {:class => "btn btn-primary"}%>
<% end %>
</div>
<div id="delete-format-form" class="section border">
<h2><%= I18n.t("sb.headers.delete_format") %></h2>
<%= form_tag(format_path(1), :method => :delete) do |f| %>
	<div style="margin-bottom:10px;">
		<%= label_tag "format-id-delete", I18n.t("sb.forms.labels.format_select_format")  %>
		<%= select(:format, :id, Format.all.collect {|fm| [fm.name,fm.id]}, 
			{:include_blank => I18n.t("sb.forms.select.blank_option") },
			{:id => "format-id-delete"}) %>
	</div>
	<%= submit_tag I18n.t("sb.forms.buttons.delete_format"), {
		:class => "btn btn-primary"
	}%>
<% end %>
</div>