<div class="grid_16 alpha">
<%= form_tag(books_path, {:class => "form", :method => :get}) do %>
	<div id="search">
		<div id="free_query">
			<%= text_field_tag "query", params[:query] || "" %>
			<%= hidden_field_tag "locale", params[:locale] || I18n.default_locale %>
			<%= submit_tag I18n.t("sb.buttons.search"), :class => "btn btn-primary" %>
		</div>
		<div class="row filters">
			<div class="span4">
				<label for="query"><%= I18n.t("sb.forms.labels.search.search_for") %></label>
				<%= check_box_tag "choices[title]", "1", 
					params["choices"] && params["choices"]["title"].present? || params["query"].blank? %>
					&#160;<%= I18n.t("sb.forms.labels.search.choice_title") %>
				<%= check_box_tag "choices[author]", "1", 
					params["choices"] && params["choices"]["author"].present? || params["query"].blank? %>
					&#160;<%= I18n.t("sb.forms.labels.search.choice_author") %>
				<%= check_box_tag "choices[publisher]", "1", 
					params["choices"] && params["choices"]["publisher"].present? || params["query"].blank?
					%>&#160;<%= I18n.t("sb.forms.labels.search.choice_publisher") %>
			</div>
			<div class="span4">
				<label for="book_format"><%= I18n.t("sb.forms.labels.search.filter_by_format") %></label>
				<%= select("book","format",Format.all(:order => "name ASC").collect{|option|[option.name,option.id]},{:selected => params[:book] && params[:book][:format] ? params[:book][:format] : 0, :include_blank => "-- Bitte auswählen --"})%>
			</div>
			<div class="span3">
				<%= partial "tag_in_use_selection"%>
				<%
				# Set selected tag on client because partial is cached 
				%>
				<script type="text/javascript" charset="utf-8">
					$(document).ready(function() {
						uri = URI(window.location.href).query(true);
						$('select#book_tag').val(parseInt(uri['book[tag]']));
						$('select#book_format').val(parseInt(uri['book[format]']));
					});
				</script>
			</div>
		</div>
	</div>
<% end -%>
</div>
<div class="clear"></div>