<div id="message">
	<%= flash[:notice]%>
</div>
<div class="section">
<h2>Schlagwort anlegen</h2>
<%= simple_form_for(@nested_tag, :url=>{:controller=>"nested_tags", :action => "create"}, :html => {:id => 'new_tag_form'}) do |f| %>
	<%= f.select :parent_id, NestedTag.root.collect {|tag|[tag.name,tag.id]}, {:label => "Oberkategorie auswählen", :hint => "Wird keine Oberkategorie ausgewählt, so wird eine neue angelegt.", :include_blank => "Bitte auswählen"}%>
	<%= f.input :name, {:label => "Schlagwort anlegen", :hint => "Das neue Schlagwort wird der gewählten Oberkategorie zugeordnet."} %>
	<%= f.submit "Schlagwort hinzufügen", {:id => "add_tag_button", :class => "btn btn-primary"} %>
<% end %>
</div>
<div class="section border">
<h2>Schlagwort ändern</h2>
<%= simple_form_for(@nested_tag, :url=>{:controller=>"nested_tags", :action => "update"}, :html => {:method => "put", :id => 'update_tag_form'}) do |f| %>
	<div>
		<label for="nested_tag_id">Schlagwort auswählen</label>
		<%= partial "shared/tag_selection"%>
	</div>
	<%= f.input :name, {:label => "Neue Bezeichnung"}%>
	<%= submit_tag "Schlagwort aktualisieren", {:id => "add_tag_button", :class => "btn btn-primary"}%>
<% end %>
</div>
<div class="section border">
<h2>Schlagwort löschen</h2>
<%= simple_form_for(@nested_tag, :url=>{:controller=>"nested_tags", :action => "destroy"}, :html => {:method => "delete", :id => 'delete_tag_form'}) do |f| %>
	<div style="margin-bottom:10px;">
		<label for="nested_tag_id">Schlagwort auswählen</label>
		<%= partial "shared/tag_selection"%>
	</div>
	<%= submit_tag "Schlagwort löschen", {:id => "add_tag_button", :class => "btn btn-primary"}%>
<% end %>
</div>