<h2><%= I18n.t("devise.headers.sign_up") %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <%= f.input :email, :label => I18n.t("devise.email")  %>

  <%= f.input :password, :label => I18n.t("devise.password")%>

  <%= f.input :password_confirmation, :label => I18n.t("devise.password_confirmation") %>

  <%= simple_fields_for :group do |group_form| %>
    <% if resource.errors.get(:group) -%>
      <% resource.errors.get(:group).each do |msg| -%>
        <div class="control-group error">
          <span class="help-inline"><%= msg %></span>
        </div>
      <% end -%>
    <% end -%>
    <h4><%= I18n.t("sb.headers.sign_up_group") %></h4>

    <%= group_form.select :id, Group.all.collect {|g| [g.name,g.id]}, 
    	{:include_blank => I18n.t("sb.forms.select.blank_option"),
        :label => I18n.t("sb.forms.labels.user_select_group")
      }, %>
    
    <h4><%= I18n.t("sb.forms.labels.user_add_group") %></h4>

    <%= group_form.input :name, :label => I18n.t("sb.forms.labels.user_group_name") %>
  <% end %>

  <div><%= f.submit I18n.t("devise.buttons.sign_up"), :class => "btn" %></div>
<% end %>

<%= render "users/links" %>
